/* Default Settings */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Variable */

:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    display: flex; /* experimental */
    justify-content: center; /* experimental */
    align-items: center;
}

.card {
    width: 30vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.title {
    text-align: center;
    margin: 0.25em 0.5em;
    padding: 1em;
}

.title h1 {
    margin-bottom: 0.5em;
    color: var(--Darkblue);
}

.title p {
    color: var(--Desaturatedblue);
    font-size: 1em;
    margin-bottom: 0;
}

.content {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--veryPaleBlue);
    padding: 0.5em 1.25em;
    border-radius: 1em;
    margin: 0 0 1em 0;
    width: 70%;
}

.ico {
    flex: 1;
    margin: 0;
}

.ico img {
    width: 2.5em;
}

.media {
    display: flex;
    flex-direction: column;
    margin: 1em 1em 1em 0;
    flex: 2;
}

.media p {
    margin: 0.15em;
    padding: 0;
    font-size: 1em;
}

#plan {
    color: var(--Darkblue);
}

#price {
    color: var(--Desaturatedblue);
}

.change {
    flex: 1;    
}

.change a {
    font-size: 0.8em;
    color: var(--brightBlue);
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

#pay {
    color: var(--veryPaleBlue);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1em;
    padding: 1em 5.5em;
    background-color: var(--brightBlue);
    border-radius: 10px;
    border: none;
    margin-bottom: 1em;
    box-shadow: 0px 15px 10px var(--paleBlue);
    cursor: pointer;
}

#cancel {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1em;
    padding: 1em 5.5em;
    background-color: transparent;
    color: var(--Desaturatedblue);
    border-radius: 10px;
    border: none;
    margin-bottom: 1em;
    cursor: pointer;
}


/* Active State */
#cancel:hover {
    color: var(--Darkblue);
}

#pay:hover {
    color: var(--Darkblue);
    background-color: var(--Desaturatedblue);
}

.change a:hover {
    color: var(--Desaturatedblue);
}

/* Responsive */